  <div class="paragraph__about">
    I made this website first and foremost to have a little project as a web developer. I also like movies, and I ask myself why I like
    movies. That is where the idea for this blog came from. I will try to answer some of those whys in the future. And
    I sometimes get asked for recommendations by people. In the future I will just link to this page. <br> You can follow me on letterboxd @ssevi or send me an <a class="link__default" href="mailto:whywatchmovies.blog@gmail.com">email</a>, be it feedback on the website or on the movie choices. If you know me personally, feel free to text me if you have seen any of the movies on here, I would love to talk about it.

    <h2>Disclaimer</h2>

    <p>
      I get that you may have to watch trailers in order to decide if you want to watch any of the things on this page. But please, do not ruin anything for you by watching the entire trailer. I am often baffled by what studios give away in movie trailers, or how misleading they are. The less you know about a movie, the better. And this way, you will never be mislead again.<br><br>
      I am not trying to recommend movies like the Godfather or anything. I guess people already know those huge blockbusters. I try to focus on somewhat current movies and shows, or things you might have missed, or some hidden gems. Some movies will be blockbusters of course, if they are recent. <br><br>
      Some of the most interesting movies to me are those who are just out. Sometimes those will not be free on any platform. If this is the case I will state the service where I bought it.
    </p>
  </div>
