  <div class="paragraph__about">
    I made this website first and foremost to have a little project. I also like movies, and I ask myself why I like
    movies. That´s where the idea for this blog came from. I will try to answer some of those whys in the future. And
    I sometimes get asked for recommendations by people. In the future I will just link to this page.

    <h2>Disclaimer</h2>

    <p>
      Always watch everything in the original version. I purposefully did not include any genre filter options. I think there are great movies in any genre, and if you have a specific genre in mind, filter through netflix. <br><br>
      I am not trying to recommend movies like the Godfather or anything. I guess people already know those huge blockbusters. I try to focus on somewhat current movies and shows, or things you might have missed, or some hidden gems. Some movies will be blockbusters of course, if they are recent. <br><br>
      Some of the most interesting movies to me are those who are just out. Sometimes those will not be free on any platform. If this is the case I will state the service where I bought it.
    </p>
  </div>
