<div>
  <section class="header">
  <h1 class="headline sansserif">Why watch movies?</h1>
  </section>
  <div class="topnav">

    {{#each navigation}}
    <li class="nav__item pagenav__item">
      <a href="{{ uri }}">{{ name }}</a>
    </li>
    {{/each}}

  </div>