<body class="main">
  <div class="filter__options">
    <div>
      <p class="filter__text text">Exclude platforms you do not have</p>
    </div>
    <div class="filter__buttons">
      <form action="" method="POST">
        {{#each platforms}}
        <input type="submit" name="platform" value={{this.platform}}
          class="{{#if this.isActive}}button__isActive{{/if}} filter__button">
        {{/each}}
      </form>
    </div>
  </div>
  <ul class="movie__list" style="list-style-type: none;">
    {{#each shows}}
    <li>
      <div class="movie__item">
        <span class="movie__header">
          <h4 class="movie__title">{{this.name}}</h4>
        </span>
        <p class="why">{{this.description}}</p>
        <p class="where">Available on {{this.platform}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
</body>