<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>What should you watch?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <meta name="description"
    content="Figure out what movies and TV shows to watch. I am based in Germany, so my recommendations are meant for a german audience, but of course not exclusively. I encourage everyone to watch films and series in english. I try to feature different genres such as horror, thrillers, dramas or indie movies. This site is called Why watch movies because for me it is a lot about the reason behind choosing something to watch. I will mostly feature movies from Netflix, Amazon Prime, Sky or Mubi."/>
  <link rel="stylesheet" href="./style.css">
</head>
{{> header}}

<body class="main">
  {{{body}}}
</body>

</html>