.App {
  text-align: center;
  --text-small: 1.2rem;
  --text-medium: 2rem;
  --text-large: 4rem;
  --font: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.headline {
  color: rgb(22, 22, 22);
  font-size: var(--text-large);
  margin: 0;
  box-shadow: #BDEAC7 0 -.5em 0 inset;
  display: inline-block;
  text-align: center;

}

.header {
  text-align: center;
  padding-bottom: 2rem;
}

.main {
  background-color: white;
}

.sansserif {
  font-family: var(--font);
}

.text {
  font-family: var(--font);

}

.paragraph {
  text-align: center;
  color: #333333;
  margin: 0 auto;
  font-family: var(--font);
  line-height: 4rem;
  max-width: 60rem;
  font-size: var(--text-medium);
  padding: 4rem;
}

.topnav__parent {
  max-width: 46rem;
  margin: 0 auto;
}

.platform {
  margin: 3rem;
  font-size: var(--text-medium);
  position: relative;
  text-align: center;
}

.topnav {
  display: flex;
  justify-content: space-between;
  width: auto;
}


.topnav {
  color: #333333;
  margin: 2rem 0rem;
  text-decoration: none;
  font-family: var(--font);
}

.nav__item:hover,
.navbar__item__active {
  box-shadow: #BDEAC7 0 -.3em 0 inset;
}

.filter__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.filter__button {
  color: lightgray;
  display: inline-flex;
  font-size: var(--text-small);
  background-color: whitesmoke;
  padding: .5rem 1rem;
  -webkit-appearance: none;
  cursor: pointer;
  margin: .4rem;
  width: 6rem;
  justify-content: center;
}

.where {
  font-family: var(--font);
  margin: 0rem 1rem 1rem 1rem;
  font-style: italic;
  width: max-content;
}

.why {
  margin: 0rem 1rem 2rem 1rem;
  text-align: left;
}

.filter__options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.link__show {
  text-align: left;
  margin: 0rem 1rem 1rem 1rem;
}

.link__default {
  color: #333333;
  text-decoration: none;
  box-shadow: #BDEAC7 0 -.4em 0 inset;
}

.filter__text {
  font-size: var(--text-small);
}

.button__isActive {
  background-color: #BDEAC7;
  color: black;
  -webkit-appearance: none;
}

.movie__list {
  padding: 0 4rem;
  list-style: none;
}

.movie__item {
  display: flex;
  flex-direction: column;
  border: 10px solid black;
  margin: 2rem auto;
  font-family: var(--font);
  font-size: var(--text-small);
  box-shadow: 18px 9px 9px grey;
  background-color: white;
  max-width: 70rem;
}


.movie__title {
  margin: 1rem;
  box-shadow: #BDEAC7 0 -.5em 0 inset;
}

.movie__header {
  margin: inherit;
}


.tags {
  padding-top: .66rem;
}

h5 {
  margin: 1rem;
}

.paragraph__about {
  border: 10px solid #BDEAC7;
  margin: 4rem auto;
  box-shadow: 18px 9px 9px grey;
  background-color: white;
  max-width: 75%;
  color: #333333;
  font-family: var(--font);
  line-height: 3rem;
  font-size: var(--text-small);
  padding: 2rem;
  text-align: left;
}

.nav__item {
  font-size: var(--text-medium);
  list-style: none;
  cursor: pointer;
}

.watchlist__text {
  margin: 3rem auto;
  color: #333333;
  font-family: var(--font);
  line-height: 3rem;
  font-size: var(--text-small);
  text-align: center;
  max-width: 90%;
}

.watchlist__type {
  font-size: var(--text-small);
  text-align: center;
  margin: -2rem 0 3rem 0;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .movie__list {
    padding: 0 0;
  }

  .header {
    padding-bottom: 2rem;
  }

  .headline {
    padding-bottom: 0;
    margin: 2rem 0;
  }

  .nav__item {
    margin: .5rem auto;
  }

  .topnav {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
  }

  .filter__options {
    padding: 2rem 0 0 0;
    text-align: center;
  }

  .filter__buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .filter__button {
    color: lightgray;
    display: inline-flex;
    font-size: var(--text-small);
    background-color: whitesmoke;
    padding: .5rem 1rem;
    -webkit-appearance: none;
    cursor: pointer;
    margin: .4rem;
  }

  .button__isActive {
    background-color: #BDEAC7;
    color: black;
    -webkit-appearance: none;
  }

  .movie__item {
    max-width: 90%;
  }
}